/* --------------- Typography --------------- */
@import url('https://fonts.googleapis.com/css2?family=Mali:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&family=Sriracha&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: content-box;
}

body {
    font-family: "Mali", cursive;
}

/* --------------- Navigation Bar --------------- */
header {
    width: 100%;
    height: 50px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
}

.nav_link {
    position: fixed;
    overflow: hidden;
    top: 0;
    height: 50px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #89BFFB;
}

a {
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 700;
    font-size: 18px;
    color: white;
    padding: 0 2rem;
}

/* Media query สำหรับหน้าจอที่มีความกว้างไม่เกิน 375px */
@media (max-width: 375px) {
    header {
        width: 100%;
        height: auto;
    }

    .nav_link {
        min-width: 70%;

        a {
            font-size: 16px;
            padding: 0 1rem;
        }
    }
}

/* Media query สำหรับหน้าจอที่มีความกว้าง 375-550px */
@media (min-width: 375px) and (max-width: 550px) {
    header {
        width: 100%;
        height: 60px;
    }

    .nav_link {
        min-width: 70%;
        height: 60px;

        a {
            font-size: 20px;
            padding: 0 1rem;
        }
    }
}

/* Media query สำหรับหน้าจอที่มีความกว้าง 550-1024px */
@media (min-width: 550px) and (max-width: 1024px) {
    header {
        width: 100%;
        height: 70px;
    }

    .nav_link {
        min-width: 70%;
        height: 70px;

        a {
            font-size: 25px;
            padding: 0 1rem;
        }
    }
}


/* --------------- Gift Box --------------- */
.giftbox {
    width: 100%;
    height: 100vh;
    background-color: #bad9fc59;
    display: flex;
    justify-content: center;
    align-items: center;
}

.giftbox_container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.giftbox_wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.giftbox_top {
    position: absolute;
    top: 250px;
    width: 250px;
    cursor: pointer;
    z-index: 5;
    transform-origin: bottom left;
    transition: transform 0.4s;
}

.giftbox_bottom {
    position: absolute;
    top: 350px;
    width: 300px;
    z-index: 3;
}

.shadow {
    width: 280px;
    height: 20px;
    background-color: rgba(32, 32, 32, 0.2);
    border-radius: 50%;
    z-index: 2;
    position: absolute;
    top: 480px;
}

.giftbox_top:hover {
    transform: rotate(-110deg) scale(0.85);
    transition: .3s;
}

.giftbox_top:hover~.wishes {
    transform: translateY(-150px);
    z-index: 1;
    transition: .5s;
    display: block;
}

.wishes {
    text-align: center;
    text-transform: capitalize;
    font-size: 25px;
    font-weight: 700;
    transition: .5s;
    filter: drop-shadow(3px 5px 8px #93d7ff);
    display: none;

    div {
        font-size: 40px;
    }

    .wanwand {
        width: 150px;
    }
}

.textunderbox {
    position: absolute;
    top: 530px;
    font-size: 25px;
}

/* Media query สำหรับหน้าจอที่มีความกว้างไม่เกิน 375px */
@media (max-width: 375px) {
    .giftbox {
        width: 100%;
        height: 350px;
        padding: 50px 0;
    }

    .giftbox_wrapper {
        scale: 60%;
        position: absolute;
        top: -20px;
        z-index: 5;
    }

    .giftbox_top:hover~.wishes {
        transform: translateY(-230px);
        z-index: 1;
        transition: .5s;
        scale: 80%;
    }

    .wishes {
        position: relative;
        top: 290px;
        scale: 70%;

        p {
            font-size: 30px;
        }
    }

    .textunderbox {
        position: absolute;
        top: 360px;
        font-size: 20px;
    }
}

/* Media query สำหรับหน้าจอที่มีความกว้าง 375-550px */
@media (min-width: 375px) and (max-width: 550px) {
    .giftbox {
        width: 100%;
        height: 380px;
        padding: 50px 0;
    }

    .giftbox_wrapper {
        scale: 70%;
        position: absolute;
        top: -30px;
        z-index: 5;
    }

    .giftbox_top:hover~.wishes {
        transform: translateY(-220px);
        z-index: 1;
        transition: .5s;
        scale: 80%;
    }

    .wishes {
        position: relative;
        top: 280px;
        scale: 70%;

        p {
            font-size: 33px;
        }
    }

    .textunderbox {
        position: absolute;
        top: 380px;
        font-size: 25px;
    }
}

/* Media query สำหรับหน้าจอที่มีความกว้าง 550-1024px */
@media (min-width: 550px) and (max-width: 1024px) {
    .giftbox {
        width: 100%;
        height: 500px;
        padding: 50px 0;
    }

    .giftbox_wrapper {
        scale: 80%;
        position: absolute;
        top: 50px;
        z-index: 5;
    }

    .giftbox_top:hover~.wishes {
        transform: translateY(-220px);
        z-index: 1;
        transition: .5s;
        scale: 100%;
    }

    .wishes {
        position: relative;
        top: 280px;
        scale: 65%;

        p {
            font-size: 35px;
        }
    }

    .textunderbox {
        position: absolute;
        top: 500px;
        font-size: 25px;
    }
}

/* Media query สำหรับหน้าจอที่มีความกว้างมากกว่า 1024px */
@media (min-width: 1024px) {
    .giftbox {
        width: 100%;
        height: 650px;
        /* padding: 50px 0; */
    }

    .giftbox_wrapper {
        position: absolute;
        top: 20px;
        z-index: 5;
    }

    .giftbox_top:hover~.wishes {
        transform: translateY(-220px);
        z-index: 1;
        transition: .5s;
        scale: 90%;
    }

    .wishes {
        position: relative;
        top: 285px;
        scale: 65%;

        p {
            font-size: 35px;
        }
    }

    .textunderbox {
        position: absolute;
        top: 530px;
        font-size: 25px;
    }
}


/* --------------- Sunshine Song --------------- */
.sunshine_song {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.song_container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.song_wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}

.sunshine_text {
    text-align: center;
    font-size: 50px;
    /* font-family: "Sriracha", cursive; */
    padding-bottom: 50px;
}

.retro_player {
    width: 300px;
    filter: drop-shadow(3px 10px 6px #41414185);
}

.retro_cd {
    width: 200px;
    z-index: 2;
    cursor: pointer;
    position: relative;
    right: -40px;
    transition: transform 0.2s ease;
}

.retro_pin {
    width: 80px;
    z-index: 3;
    position: relative;
    right: 105px;
    /* position: relative;
    left: -100px; */
    transition: transform 0.1s ease;
    filter: drop-shadow(3px 10px 6px #41414185);
}

/* Media query สำหรับหน้าจอที่มีความกว้างไม่เกิน 375px */
@media (max-width: 375px) {
    .sunshine_song {
        height: fit-content;
        width: 100%;
        height: 400px;
    }

    .sunshine_text {
        font-size: 22px;
        padding-bottom: 20px;
    }

    .retro_player {
        width: 150px;
    }

    .retro_cd {
        width: 100px;
        right: -20px;
    }

    .retro_pin {
        width: 40px;
        right: 55px;
    }
}

/* Media query สำหรับหน้าจอที่มีความกว้าง 375-550px */
@media (min-width: 375px) and (max-width: 550px) {
    .sunshine_song {
        height: fit-content;
        width: 100%;
        height: 500px;
    }

    .sunshine_text {
        font-size: 25px;
        padding-bottom: 20px;
    }

    .retro_player {
        width: 180px;
    }

    .retro_cd {
        width: 120px;
        right: -20px;
    }

    .retro_pin {
        width: 45px;
        right: 60px;
    }
}

/* Media query สำหรับหน้าจอที่มีความกว้าง 550-1024px */
@media (min-width: 550px) and (max-width: 1024px) {
    .sunshine_song {
        height: fit-content;
        width: 100%;
        height: 600px;
    }

    .sunshine_text {
        font-size: 35px;
        padding-bottom: 20px;
    }

    .retro_player {
        width: 230px;
    }

    .retro_cd {
        width: 150px;
        right: -20px;
    }

    .retro_pin {
        width: 55px;
        right: 75px;
    }
}



/* --------------- Birthday Wishes --------------- */
.birthday_card {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px 0;
    background-image: url(../image&sound/Wanwand\ Birthday_bg.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    background-color: #bad9fc59;
}

.card_container {
    width: 650px;
    background-color: rgb(250, 250, 250);
    box-shadow: 10px 0 30px rgba(0, 0, 0, 0.1);
    padding: 50px;
}

.card_text {
    font-size: 18px;

    h2 {
        text-align: center;
        padding-bottom: .8rem;
    }

    div {
        text-align: center;
        padding: .8rem 0;
    }

    p {
        padding: .8rem 0;
        line-height: 2rem;
    }

    .smile_sun {
        display: flex;
        justify-self: center;
        width: 100px;
    }
}

/* Media query สำหรับหน้าจอที่มีความกว้างไม่เกิน 375px */
@media (max-width: 375px) {
    .birthday_card {
        width: 100%;
        height: fit-content;
        padding: 80px 0;
        background-image: none;
    }

    .card_container {
        max-width: 80%;
    }

    .card_text h2 {
        font-size: 20px;
    }
}

/* Media query สำหรับหน้าจอที่มีความกว้าง 375-550px */
@media (min-width: 375px) and (max-width: 550px) {
    .birthday_card {
        width: 100%;
        height: fit-content;
        padding: 100px 0;
        background-image: none;
    }

    .card_container {
        max-width: 80%;
    }
}

/* Media query สำหรับหน้าจอที่มีความกว้าง 550-1024px */
@media (min-width: 550px) and (max-width: 1024px) {
    .birthday_card {
        width: 100%;
        height: fit-content;
        padding: 100px 0;
        background-image: none;
    }

    .card_container {
        max-width: 70%;
    }
}

/* Media query สำหรับหน้าจอที่มีความกว้าง 1024-1160px */
@media (min-width: 1024px) and (max-width: 1160px) {
    .card_container {
        max-width: 45%;
    }
}

/* Media query สำหรับหน้าจอที่มีความกว้างมากกว่า 1024px */
@media (min-width: 1024px) {
    .card_container {
        max-width: 45%;
    }
}


/* --------------- End Credits --------------- */
.end_credit {
    width: 100%;
    height: 30vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    overflow: hidden;
    background-color: rgb(43, 43, 43);
    padding-top: 60px;
}

.credit_container {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
}

.credit_wrapper {
    position: absolute;
    width: 100%;
    text-align: center;
    animation: scroll-up 25s linear infinite;
    color: white;

    h1 {
        text-transform: capitalize;
    }

    h3 {
        padding: .5rem 0 .5rem 0;
        font-weight: 500;
    }

    p {
        padding-top: 1.5rem;
        text-transform: capitalize;
    }

    h2 {
        padding-top: 3rem;
    }

    img {
        padding-top: 1.5rem;
        width: 300px;
    }

    i:nth-child(1) {
        color: rgb(0, 243, 0);
    }

    i:nth-child(2) {
        color: rgb(255, 166, 0);
    }
}

@keyframes scroll-up {
    0% {
        bottom: -380%;
    }

    100% {
        bottom: 100%;
    }
}

/* Media query สำหรับหน้าจอที่มีความกว้างไม่เกิน 375px */
@media (max-width: 375px) {
    .end_credit {
        width: 100%;
        height: 180px;
    }

    .credit_container {
        max-width: 80%;
    }

    .credit_wrapper {
        scale: 70%;
    }

    @keyframes scroll-up {
        0% {
            bottom: -310%;
        }

        100% {
            bottom: 100%;
        }
    }
}

/* Media query สำหรับหน้าจอที่มีความกว้าง 375-550px */
@media (min-width: 375px) and (max-width: 550px) {
    .end_credit {
        width: 100%;
        height: 250px;
    }

    .credit_container {
        max-width: 80%;
    }

    @keyframes scroll-up {
        0% {
            bottom: -290%;
        }

        100% {
            bottom: 100%;
        }
    }
}

/* Media query สำหรับหน้าจอที่มีความกว้าง 550-1024px */
@media (min-width: 550px) and (max-width: 1024px) {
    @keyframes scroll-up {
        0% {
            bottom: -230%;
        }

        100% {
            bottom: 100%;
        }
    }
}